<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786717650799-qo5tbl4msjn8ha4b23uf6m18agcdmm57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786717650799-qo5tbl4msjn8ha4b23uf6m18agcdmm57</string>
	<key>API_KEY</key>
	<string>AIzaSyDuezn85NeZhaQci5PW20sQYgfgS6XqJ-c</string>
	<key>GCM_SENDER_ID</key>
	<string>786717650799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.someAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-app-e3f19</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-e3f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786717650799:ios:d058cac70bce5810ad429a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-e3f19-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>